{% extends 'base.html' %}
{% comment %} admin_update_student.html {% endcomment %}

{% block title %}
  Update Student | E-Notice Board
{% endblock %}

{% block content %}
  <div class="row justify-content-center py-5">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <div
        class="card shadow-sm"
        style="background-color:white; border-top: 3px solid #00a2ff;"
      >
        <div class="card-body">
          <h1 class="text-center mb-4" style="color:#004b87;">
            Update Student
          </h1>

          <form method="POST">
            {% csrf_token %}

            <!-- Enrollment Number -->
            <div class="mb-3">
              <label class="form-label">Enrollment Number</label>
              <input
                type="text"
                name="enrollment_no"
                class="form-control"
                placeholder="Enter enrollment number"
                value="{{ student.enrollment_no }}"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter email"
                value="{{ student.email }}"
                required
              />
            </div>

            <!-- Full Name -->
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input
                type="text"
                name="full_name"
                class="form-control"
                placeholder="Enter full name"
                value="{{ student.full_name }}"
                required
              />
            </div>

            <!-- Password -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter password"
                required
              />
            </div>

            <!-- Department -->
            <div class="mb-4">
              <label class="form-label">Department</label>
              <select name="department" class="form-select" required>
                <option value="" disabled>
                  Select department
                </option>
                {% for dept in departments %}
                  <option
                    value="{{ dept.id }}"
                    {% if dept.id == student.department.id %}selected{% endif %}
                  >
                    {{ dept.d_name }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-4">
              <label class="form-label">Semester</label>
              <select name="sem" class="form-select" required>
                <option value="" disabled hidden selected>Select semester</option>
                {% for sem in semesters %}
                  <option 
                  value="{{ sem }}"
                  {% if sem == student.sem %}selected{% endif %}
                  >
                  {{ sem }}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- Submit Button -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Update Student
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
